body {
    background-color: yellow;
}

.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: yellow;
    opacity: .5;
}

.mask > .child {
    width: 50%;
    left: 25%;
    position: absolute;
    height: 50%;
    top: 25%;
    background-color: #fff;
}